.grid {
  display: grid;
  grid-template-columns: 4% 25% 71%;
  height: 100vh;

  .menubar {
    grid-row: row 0;
    grid-column: column 0;
  }

  .sidebar {
    grid-row: row 0;
    grid-column: column 0;
  }

  .filter {
    grid-row: row 0;
    grid-column: column 2;
  }
  
}





