.universal-card-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    color: #3E4345;
    margin-right: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.universal-card-container:last-child {
    margin-right: 0px;
}

.universal-card-container--header{
    margin-bottom: 10px;
}

.universal-card-container--header > * {
    margin-bottom: 5px;
}

.universal-card-container--header h3 {
    font-size: 12px !important;
}


.universal-card-container p {
    font-size: 10px !important;
}

.universal-card-container--main h1 {
    font-size: 16px !important;
}
