.prokes {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prokes h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.logo-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-flex-column>*{
  margin-bottom: 20px;;
}

.logo-flex-column>:last-child{
  margin-bottom: 0px;;
}