.star--container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    #star {
        &1:hover {
            cursor: pointer;
        }
        &2:hover {
            cursor: pointer;
        }
        &3:hover {
            cursor: pointer;
        }
        &4:hover {
            cursor: pointer;
        }
        &5:hover {
            cursor: pointer;
        }
    }

    .logo {
        width: 15px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    .review {
        width: 100%;
        margin: 0  17px;

        &-alone {
            width: 100%;
            margin: 0  17px;
            margin-bottom: 20px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}