.card {
  background-color: #e0f2fe;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.card:hover {
  background-color: #caeaff;
}

.bus--left {
  margin-right: 30px;
  display: flex;
  height: 273px;

  background-color: #0284c7;
  color: #ffffff;
  padding: 12px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.bus--left h1 {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.bus--right {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 24px;
}

.title h1 {
  color: #164e63;
  font-size: 36px;
  margin-bottom: 20px !important;
}

.title h2 {
  color: #0369a1;
  font-size: 24px;
}

.detail {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.detail--item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}

.detail_content {
  margin-left: 20px;
}

.detail_content h3 {
  margin-bottom: 10px;
}
