.flex-filter {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0px 10px;
  color: #0369a1;
}

.flex-filter img {
  cursor: pointer;
}

.flex-filter h3 {
  font-size: 36px;
  margin: 0px 5px;
}
