.filter-waktu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

.flex-filter-waktu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-waktu h1 {
  font-size: 24px;
  margin-bottom: 20px !important;
}
