.grid-container {
  display: grid;
  grid-template: repeat(20, 55px) / 50% 48.8%;
  grid-gap: 25px;
  background-color: #ffffff;
  overflow: hidden;
  padding: 140px 40px 40px 40px;
  z-index: 8;
}

.grid-item {
  background-color: #e0f2fe;
  text-align: center;
  padding: 40px;
  font-size: 30px;
  border-radius: 5px;
  color: #0369a1;
}

.item1 {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  display: flex;
}

.item2 {
  grid-row: 1 / 6;
  grid-column: 2 / 3;
}

.item3 {
  grid-row: 4 / 14;
  grid-column: 1 / 2;
}

.item4 {
  grid-row: 6 / 13;
  grid-column: 2 / 3;
}

.item5 {
  grid-row: 13 / 14;
  grid-column: 2 / 3;
  padding: 0px;
  background-color: transparent;

  display: flex;
  justify-content: flex-end;
}

.item5 button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 10px;
  background-color: #0369a1;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.item5 button:hover {
  background-color: #055d8d;
}
