.isian-total-pendapatan h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.isian-total-pendapatan h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.flex-total-pendapatan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-total-pendapatan img {
  margin-right: 20px;
}
