.flex-row-prokes {
  display: flex;
  flex-direction: row;
}

.flex-row-prokes img {
  margin-right: 20px;
}

.flex-column-prokes {
  display: flex;
  flex-direction: column;

  margin-right: 20px;
}

.flex-column-prokes h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.flex-column-prokes h3 {
  font-size: 18px;
}
