.sidebar {
  background-color: #f7f7f7;
  padding: 25px 0px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.sidebar-header h1 {
  color: #3E4345;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

.card_container {
  height: 100vh;
  padding: 30px 10px;
  position: relative;
  overflow: scroll;
}
