.menubar {
  background-color: #f7f7f7;
  overflow-x: hidden;
  padding: 25px 10px;
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  z-index: 10;
}

.menubar img{
  min-width: 20px;
  max-width: 25px;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  min-width: 20px;
  max-width: 40px;
  transition: 0.2s ease-in-out;
}

.logo img:hover{
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

.menubar a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.2s ease-in-out;
}

.menubar a:hover {
  transform: scale(1.2);
  transition: 0.1s ease-in-out;;
}

.active {
  background-color: #e0f2fe;
  border-radius: 5px;
  color: #0284c7;
}

.unduh-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  padding: 7px;
  background-color: #e0f2fe;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.unduh-data img {
  min-width: 20px;
  max-width: 30px;
}

.unduh-data:hover {
  transform: scale(1.2);
  transition: 0.1s ease-in-out;;
}