.params-not-filled--container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;

    & img {
        margin-top: 70px;
        width: 50%;
        opacity: 0.5;
    }

    & a {
        color: #919699;
        margin-bottom: 40px;
    }

    & h3 {
        color: #919699;
        text-align: center;
    }
}