.select-container {
    &--title {
        font-size: 14px !important;
        margin-bottom: 5px;
    }

    select {
        min-width: 170px;
        height: 40px;
        border-radius: 5px;
        border: 2px solid #e2e2e2;
        background-color: #ffffff;
        font-size: 14px;
    }
}